#####################################################################
# CARTOGRAPHER PROBE
#####################################################################

[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
# serial: <blank>
# restart_method: command # Not needed for probes using CAN. 
#canbus_uuid: 6278c7b15319
#canbus_uuid: 33a9e1b53ffe
canbus_uuid: 6568e3f21214


[cartographer]
mcu: cartographer

x_offset: 0             # This is the offset of your probe from the nozzle tip, to the centre of the coil. Negative offsets are in the opposite direction of the endstops
y_offset: 23.77         #23.77   # This is the offset of your probe from the nozzle tip, to the centre of the coil. Negative offsets are in the opposite direction of the endstops
lift_speed: 5
macro_prefix: CARTO     # Alternate name to call macros. A prefix of CARTO would result in the macro CARTO_TOUCH_HOME vs CARTOGRAPHER_TOUCH_HOME
verbose: yes

[cartographer scan]
#samples: 20
probe_speed: 5            # Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
mesh_runs: 1              # Number of runs when doing a scan mesh.
mesh_direction: x         # Axis of which to do the most moves along - either 'x' or 'y'.
mesh_height: 2            # The height (in mm) of the head, when doing a mesh run.
mesh_path: snake          # snake : alternating_snake :spiral : random

[cartographer touch]
samples: 3                 # The number of samples to use when doing a touch.
max_samples: 10            # The maximum number of samples to do before giving up.
UNSAFE_max_touch_temperature: 150   # The maximum allowed nozzle temperature to use when touching the plate.
EXPERIMENTAL_home_random_radius: 10

[adxl345 cartographer]
cs_pin: cartographer:PA3
spi_bus: spi1
spi_speed: 5000000
axes_map: x, y, z

# [lis2dw]
# cs_pin: scanner:PA3
# spi_bus: spi1

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105




#####################################################################
# MACROS
#####################################################################

# CARTOGRAPHER_TOUCH_PROBE

# CARTOGRAPHER_TOUCH_HOME

# CARTOGRAPHER_SCAN_MODEL LOAD=<model> REMOVE=<model>

# CARTOGRAPHER_TOUCH_MODEL LOAD=<model> REMOVE=<model>



# CARTOGRAPHER_SCAN_CALIBRATE MODEL=default METHOD=manual|touch

# CARTOGRAPHER_ESTIMATE_BACKLASH ITERATIONS=10 DELTA=0.2 [CALIBRATE=1]

# CARTOGRAPHER_TOUCH_CALIBRATE MODEL=default SPEED=2 START=500 MAX=3000

# CARTOGRAPHER_AXIS_TWIST_COMPENSATION AXIS=x|y SAMPLE_COUNT=5 [START=<blank> END=<blank> LINE=<blank>]

# CARTOGRAPHER_TEMPERATURE_CALIBRATE BED_TEMP=90 MIN_TEMP=40 MAX_TEMP=70 Z_SPEED=5

# CARTOGRAPHER_SCAN_ACCURACY SAMPLES=100 [READINGS=20]

# CARTOGRAPHER_STREAM ACTION=start|stop|cancel|status [FILE="~/stream.csv"]


#####################################################################
[gcode_macro CARTOGRAPHER__TOUCH__PROBE]
gcode:

   CARTOGRAPHER_TOUCH_PROBE


#####################################################################
[gcode_macro CARTOGRAPHER__TOUCH__HOME]
gcode:

   CARTOGRAPHER_TOUCH_HOME


#####################################################################
[gcode_macro CARTOGRAPHER__SCAN__MODEL]
gcode:
	{% set load = params.LOAD|default('') %}
	{% set remove = params.REMOVE|default('') %}

	{% if load != '' and remove == '' %}
      CARTOGRAPHER_SCAN_MODEL LOAD={load}
	{% elif remove != '' and load == '' %}
	  CARTOGRAPHER_SCAN_MODEL REMOVE={remove}
	{% endif %}


#####################################################################
[gcode_macro CARTOGRAPHER__TOUCH__MODEL]
gcode:
	{% set load = params.LOAD|default("") %}
	{% set remove = params.REMOVE|default("") %}

	{% if load != "" and remove == "" %}
      CARTOGRAPHER_TOUCH_MODEL LOAD="{load}"
	{% elif remove != "" and load == "" %}
	  CARTOGRAPHER_TOUCH_MODEL REMOVE="{remove}"
	{% endif %}



#####################################################################



#####################################################################
# CARTOGRAPHER_SCAN_CALIBRATE MODEL=default METHOD=manual|touch
[gcode_macro CARTOGRAPHER__SCAN__CALIBRATE]
description: Add macro to dashboard with use
             Usage: MODEL=<name_string> METHOD=<manual|touch>
gcode:
	# Define parameters for UI visibility
	{% set model = params.MODEL|default('')%}
	{% set method = params.METHOD|default('') %}

	# Map parameters for the loop builder
	{% set params_map = {
		'MODEL': model,
		'METHOD': method
	} %}

	# Build and execute the command string
	{% set macro_cmd = namespace(str="CARTOGRAPHER_SCAN_CALIBRATE") %}
	{% for name, value in params_map.items() %}
		{% if value|string != '' %}
			{% set macro_cmd.str = macro_cmd.str ~ " " ~ name ~ "=" ~ value %}
		{% endif %}
	{% endfor %}

	{macro_cmd.str}

   
#####################################################################
#CARTOGRAPHER_TOUCH_CALIBRATE MODEL=default SPEED=2 START=500 MAX=3000 SUCCESS_RATE=0.95
[gcode_macro CARTOGRAPHER__TOUCH__CALIBRATE]
gcode:
   {% set model = params.MODEL|default("default") %}
   {% set speed = params.SPEED|default(2)|int %}
   {% set start = params.START|default(500)|int %}
   {% set max = params.MAX|default(3000)|int %}
   {% set success_rate = params.SUCCESS_RATE|default(0.95)|float %}

   {% set params_map = {
        'MODEL': model,
        'SPEED': speed,
		'START': start,
		'MAX': max,
		'SUCCESS_RATE': success_rate
    } %}

    {% set macro_cmd = namespace(str="CARTOGRAPHER_TOUCH_CALIBRATE") %}
    {% for name, value in params_map.items() %}
        {% if value|string != '' %}
            {% set macro_cmd.str = macro_cmd.str ~ " " ~ name ~ "=" ~ value %}
        {% endif %}
    {% endfor %}

    # Execute the macro with constructed parameters
    {macro_cmd.str}


#####################################################################
#CARTOGRAPHER_ESTIMATE_BACKLASH ITERATIONS=10 DELTA=0.2 [CALIBRATE=1]
[gcode_macro CARTOGRAPHER__ESTIMATE__BACKLASH]
gcode:
  {% set center = params.CENTER|default('') %}
  {% set front_l = params.FRONT_LEFT|default('') %}
  {% set rear_l = params.REAR_LEFT|default('') %}
  {% set rear_r = params.REAR_RIGHT|default('') %}
  {% set front_r = params.FRONT_RIGHT|default('') %}
  {% set iterations = params.ITERATIONS|default('') %}
  {% set delta = params.DELTA|default('') %}
  {% set calibrate = params.CALIBRATE|default('') %}

  {% set c = [printer.toolhead.axis_maximum.x / 2|int, printer.toolhead.axis_maximum.y / 2|int] %}
  {% set fl = [printer.toolhead.axis_minimum.x + 30|int, printer.toolhead.axis_minimum.y + 5|int] %}  ; Increased Y offset for safety
  {% set rl = [printer.toolhead.axis_minimum.x + 30|int, printer.toolhead.axis_maximum.y - 50|int] %}
  {% set rr = [printer.toolhead.axis_maximum.x - 30|int, printer.toolhead.axis_maximum.y - 50|int] %}
  {% set fr = [printer.toolhead.axis_maximum.x - 30|int, printer.toolhead.axis_minimum.y + 5|int] %}
  
  # Save gcode state
  SAVE_GCODE_STATE NAME=ESTIMATE_BACKLASH
  
  G90        ; Set Motion System to Absolute Positioning
   
  G1 Z5 F1500
  G1 F5000

  {% if center != '' or 0 %}
    G1 X{c[0]} Y{c[1]}
  {% elif front_l != '' or 0 %}
    G1 X{fl[0]} Y{fl[1]}
  {% elif rear_l != '' or 0 %}
    G1 X{rl[0]} Y{rl[1]}
  {% elif rear_r != '' or 0 %}
    G1 X{rr[0]} Y{rr[1]}
  {% elif front_r != '' or 0 %}
    G1 X{fr[0]} Y{fr[1]}
  {% else %}
    {% if center == 0 and front_l == 0 and rear_l == 0 and rear_r == 0 and front_r == 0 %}
	  G1 X{c[0]} Y{c[1]}
	{% endif %}
  {% endif %}
  M400

  {% set params_map = {
        'ITERATIONS': iterations,
        'DELTA': delta,
		'CALIBRATE': calibrate
    } %}

    {% set macro_cmd = namespace(str="CARTOGRAPHER_ESTIMATE_BACKLASH") %}
    {% for name, value in params_map.items() %}
        {% if value|string != '' %}
            {% set macro_cmd.str = macro_cmd.str ~ " " ~ name ~ "=" ~ value %}
        {% endif %}
    {% endfor %}

	# Execute the macro with constructed parameters
    {macro_cmd.str}

  RESTORE_GCODE_STATE NAME=ESTIMATE_BACKLASH MOVE=1 MOVE_SPEED=300


#####################################################################
# CARTOGRAPHER_TEMPERATURE_CALIBRATE BED_TEMP=90 MIN_TEMP=40 MAX_TEMP=70 Z_SPEED=5
## Temperature monitoring constants
# TEMP_CHECK_INTERVAL = 1  # Check temperature every second
# PROGRESS_LOG_INTERVAL = 30  # Log progress every 30 seconds
# STALL_WARNING_TIME = 90  # Warn after 60 seconds of no progress
# STALL_ABORT_TIME = 900  # Abort after 15 minutes of no progress
# MAX_PHASE_TIME = 1800  #  Abort after 30 minutes for any single phase

[gcode_macro CARTOGRAPHER__TEMPERATURE__CALIBRATE]
description: Calibrate Cartographer temperature offset with dashboard inputs
gcode:
    {% set bed_temp = params.BED_TEMP|default(110)|int %}
    {% set min_temp = params.MIN_TEMP|default(40)|int %}
    {% set max_temp = params.MAX_TEMP|default(60)|int %}
    {% set z_speed = params.Z_SPEED|default(10)|int %}
    {% set check_int = params.TEMP_CHECK_INTERVAL_SEC|default(1)|int %}
    {% set log_int = params.PROGRESS_LOG_INTERVAL_SEC|default(30)|int %}
    {% set warning = params.STALL_WARNING_TIME_SEC|default(90)|int %}
    {% set abort = params.STALL_ABORT_TIME|default(900)|int %}
    {% set max_phase = params.MAX_PHASE_TIME|default(1800)|int %}

    {% set params_map = {
        'BED_TEMP': bed_temp,
        'MIN_TEMP': min_temp,
        'MAX_TEMP': max_temp,
        'Z_SPEED': z_speed,
        'TEMP_CHECK_INTERVAL': check_int,
        'PROGRESS_LOG_INTERVAL': log_int,
        'STALL_WARNING_TIME': warning,
        'STALL_ABORT_TIME': abort,
        'MAX_PHASE_TIME': max_phase
    } %}

    {% set macro_cmd = namespace(str="CARTOGRAPHER_TEMPERATURE_CALIBRATE") %}
    {% for name, value in params_map.items() %}
        {% if value|string != '' %}
            {% set macro_cmd.str = macro_cmd.str ~ " " ~ name ~ "=" ~ value %}
        {% endif %}
    {% endfor %}

    # Execute the macro with constructed parameters
    {macro_cmd.str}

#####################################################################
[gcode_macro PROBE__ACCURACY]
gcode:
 {% set SAMPLES = params.SAMPLES|default(10) %}

  PROBE_ACCURACY SAMPLES{SAMPLES}


#####################################################################
[gcode_macro CARTOGRAPHER__TOUCH__ACCURACY]
gcode:
	{% set samples = params.SAMPLES|default(5) %}
	{% set speed = params.LIFT_SPEED|default(5) %}
	{% set dist = params.SAMPLE_RETRACT_DIST|default(2) %}

	{% set params_map = {
        'SAMPLES': samples,
        'LIFT_SPEED': speed,
		'SAMPLE_RETRACT_DIST': dist
    } %}

    {% set macro_cmd = namespace(str="CARTOGRAPHER_TOUCH_ACCURACY") %}
    {% for name, value in params_map.items() %}
        {% if value|string != '' %}
            {% set macro_cmd.str = macro_cmd.str ~ " " ~ name ~ "=" ~ value %}
        {% endif %}
    {% endfor %}

    # Execute the macro with constructed parameters
    {macro_cmd.str}
