[gcode_macro INPUT_SHAPER_XY]
description: Input Shaper calibration of the X axes
gcode:
  {action_respond_info("Input Shaper Calibration Initiated")}
  {% if printer.toolhead.homed_axes != 'xyz' %}
      HOMEING_PROMPT_SHAPER_XY
  {% endif %}
  SHAPER_CALIBRATE
  RUN_SHELL_COMMAND CMD=convert_stats_x
  RUN_SHELL_COMMAND CMD=convert_stats_y
  {action_respond_info("Input Shaper Calibration Complete")}
  M400
  SAVE_CONFIG_PROMPT
 
[gcode_macro INPUT_SHAPER_X]
description: Input Shaper calibration of the X axes
gcode:
  {action_respond_info("Input Shaper Calibration Initiated")}
  {% if printer.toolhead.homed_axes != 'xyz' %}
      HOMEING_PROMPT_SHAPER_X
  {% endif %}
  SHAPER_CALIBRATE AXIS=X
  RUN_SHELL_COMMAND CMD=convert_stats_x
  {action_respond_info("Input Shaper Calibration Complete")}
  M400
  SAVE_CONFIG_PROMPT
 
[gcode_macro INPUT_SHAPER_Y]
description: Input Shaper calibration of the Y axes
gcode:
  {action_respond_info("Input Shaper Calibration Initiated")}
  {% if printer.toolhead.homed_axes != 'xyz' %}
      HOMEING_PROMPT_SHAPER_Y
  {% endif %}
  SHAPER_CALIBRATE AXIS=Y
  RUN_SHELL_COMMAND CMD=convert_stats_y
  {action_respond_info("Input Shaper Calibration Complete")}
  M400
  SAVE_CONFIG_PROMPT
 
#########################################################################################################################
###shell commands:
 
### create a file named: conv_calibration_data_x.sh
#~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_x_*.csv -o ~/printer_data/config/Klipper_Macros/shaper/shaper_calibration_graph_x.png
 
### create a file named: conv_calibration_data_y.sh
#~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_y_*.csv -o ~/printer_data/config/Klipper_Macros/shaper/shaper_calibration_graph_y.png
 
#########################################################################################################################
###shell commands to run in klipper:
 
[gcode_shell_command convert_stats_x]
command: sh /home/gonzo/printer_data/config/Klipper_Macros/shaper/conv_calibration_data_x.sh  # Path to .sh files
#command: sh ~/printer_data/config/Klipper_Macros/shaper/conv_calibration_data_x.sh  # Path to .sh files
timeout: 120.
verbose: True
 
[gcode_shell_command convert_stats_y]
command: sh /home/gonzo/printer_data/config/Klipper_Macros/shaper/conv_calibration_data_y.sh  # Path to .sh files
#command: sh ~/printer_data/config/Klipper_Macros/shaper/conv_calibration_data_y.sh  # Path to .sh files
timeout: 120.
verbose: True


##################################################################################################################
# SAVE_CONFIG_PROMPT
##################################################################################################################

##################################################################################################################
[gcode_macro SAVE_CONFIG_PROMPT]
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin SAVE CONFIG"
  RESPOND TYPE=command MSG="action:prompt_text Attention: Would you like to SAVE CONFIG and REBOOT?"
  RESPOND TYPE=command MSG="action:prompt_footer_button SAVE and REBOOT|SAVE_CONFIG_YES"
  RESPOND TYPE=command MSG="action:prompt_footer_button LATER|RESPOND TYPE=command MSG="action:prompt_end""
  RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro SAVE_CONFIG_YES]
gcode:
  RESPOND TYPE=command MSG="action:prompt_end"
  SAVE_CONFIG
 
##################################################################################################################
# HOMEING_PROMPT
##################################################################################################################

##################################################################################################################
[gcode_macro HOMEING_PROMPT_SHAPER_XY]
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Axes Homing Error"
  RESPOND TYPE=command MSG="action:prompt_text Attention: Printer axes are not homed. Would you like to home axes?"
  RESPOND TYPE=command MSG="action:prompt_footer_button Home_Axes|HOME_SHAPER_XY"
  RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|RESPOND TYPE=command MSG="action:prompt_end""
  RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro HOME_SHAPER_XY]
gcode:
  RESPOND TYPE=command MSG="action:prompt_end"
  STATUS_HOMING   ; Sets SB-leds to homing-mode
  G28
  M400
  STATUS_READY
  INPUT_SHAPER_XY


##################################################################################################################
[gcode_macro HOMEING_PROMPT_SHAPER_X]
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Axes Homing Error"
  RESPOND TYPE=command MSG="action:prompt_text Attention: Printer axes are not homed. Would you like to home axes?"
  RESPOND TYPE=command MSG="action:prompt_footer_button Home_Axes|HOME_SHAPER_X"
  RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|RESPOND TYPE=command MSG="action:prompt_end""
  RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro HOME_SHAPER_X]
gcode:
  RESPOND TYPE=command MSG="action:prompt_end"
  STATUS_HOMING   ; Sets SB-leds to homing-mode
  G28
  M400
  STATUS_READY
  INPUT_SHAPER_X


##################################################################################################################
  [gcode_macro HOMEING_PROMPT_SHAPER_Y]
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Axes Homing Error"
  RESPOND TYPE=command MSG="action:prompt_text Attention: Printer axes are not homed. Would you like to home axes?"
  RESPOND TYPE=command MSG="action:prompt_footer_button Home_Axes|HOME_SHAPER_Y"
  RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|RESPOND TYPE=command MSG="action:prompt_end""
  RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro HOME_SHAPER_Y]
gcode:
  RESPOND TYPE=command MSG="action:prompt_end"
  STATUS_HOMING   ; Sets SB-leds to homing-mode
  G28
  M400
  STATUS_READY
  INPUT_SHAPER_X

[gcode_macro ACCELEROMETER__QUERY]
gcode:
  ACCELEROMETER_QUERY
