#####################################################################
# INCLUDE CONFIG FILES
#####################################################################
[include mainsail.cfg]
[include timelapse.cfg]
[include ./Hardware/*.cfg]
[include ./Klipper_Macros/*.cfg]
[include ./LED/*.cfg]
[include mmu/base/*.cfg]
[include mmu/addons/*.cfg]
[include mmu/optional/client_macros.cfg]


#####################################################################
# DUPLICATE PIN OVERRIDE
#####################################################################
[duplicate_pin_override]
pins: PF6, PF5, EBBCan:PA2

#####################################################################
# MAINSAIL.CFG CLIENT VARIABLES
#####################################################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : 55.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : 358.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#####################################################################
# PRINTER
#####################################################################
[printer]
kinematics: corexy
max_velocity: 500
max_accel: 10000            #Max 4000
max_z_velocity: 25         #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 3.0
minimum_cruise_ratio: 0.5


#####################################################################
# VIRTUAL SD CARD
#####################################################################
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


#####################################################################
# VARIABLES
#####################################################################
[save_variables]
filename: ~/printer_data/config/mmu/mmu_vars.cfg
#filename: ~/variables.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg


#####################################################################
# EXCLUDE OBJECTS
#####################################################################
# The [exclude_object] module allows Klipper to exclude objects
# while a print is in progress. 

[exclude_object]

[gcode_macro EXCLUDE_OBJECTS]
gcode:
  {% set OBJECT = params.OBJECT|default() %}
  EXCLUDE_OBJECT NAME="{OBJECT}"

  
#####################################################################
# ARC SUPPORT
#####################################################################
# Enable arcs support
[gcode_arcs]
resolution: 0.1


#####################################################################
# IDLE TIMEOUT
#####################################################################
[idle_timeout]
timeout: 1800
gcode:
  {% if printer.pause_resume.is_paused %}
    {action_respond_info("Extruder powered down on idle timeout.")}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=saved_extruder_temp VALUE="{printer[printer.toolhead.extruder].target}"
    M104; Turn off extruder but leave the bed on.
  {% else %}
    TURN_OFF_HEATERS
    M107; turn off fan
  {% endif %}


#####################################################################
# PAUSE
#####################################################################

[pause_resume]
recover_velocity: 50

#####################################################################
# RESPOND
#####################################################################
[respond]
default_type: echo
#default_type: command
#default_type: error


#####################################################################
# DISPLAY STATUS
#####################################################################

[display_status]


#####################################################################
# FORCE MOVE
#####################################################################
_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is False.

[gcode_macro UNSAFE_MOVE_Z_UP]
description: ¡!--CAUTION--¡! Move the Z axis up (away from bed) without homing. Setup for v2.4
gcode:
    {% set MOVE_UP = params.UP_mm|default(10)|float %}
    G91
	SET_KINEMATIC_POSITION Z=-{MOVE_UP}

[gcode_macro UNSAFE_MOVE_Z_DOWN]
description: ¡!--CAUTION--¡! Move the Z axis down (toward the bed) without homing. Setup for v2.4
gcode:
    {% set MOVE_DOWN = params.DOWN_mm|default(10)|float %}
    G91
    SET_KINEMATIC_POSITION Z={MOVE_DOWN}
    
[gcode_macro LOAD_FILAMENT_INTO_EXTRUDER_GEARS]
gcode:
  FORCE_MOVE STEPPER=extruder DISTANCE=25 VELOCITY=50 ACCEL=300

  
#####################################################################
# HOME AXIS AT STARTUP
#####################################################################
# [gcode_macro START_HOMEING]
# description: Use with a delayed gcode or change this macro to 
# gcode:
#   SET_DISPLAY_TEXT MSG="Homing"
#   STATUS_HOMING
#   G28
#   STATUS_READY

  
#####################################################################
# SAFE Z HOME
#####################################################################
[safe_z_home]
home_xy_position: 177.5, 177.5
speed: 150
z_hop: 10
z_hop_speed: 20
move_to_previous: false


#####################################################################
# QGL
#####################################################################
[quad_gantry_level]

gantry_corners:
   -60,-10
   410,420
   
points:
   30,3
   30,300
   330,300
   330,3

speed: 160
horizontal_move_z: 2
retries: 10
retry_tolerance: 0.0075
max_adjust: 10

[gcode_macro QGL]
description: safer and faster QGL for Cartographer and Beacon probes
gcode:
  {% if printer.toolhead.homed_axes != 'xyz' %}
    {% if printer['gcode_macro _MACRO_VARIABLES'].led_effect is true %}
      STATUS_HOMING   ; Sets SB-leds to homing-mode
	{% endif %}
    G28			    ; Home All Axes
  {% endif %}
  {% if printer['gcode_macro _MACRO_VARIABLES'].led_effect is true %}
	STATUS_CALIBRATING_Z  ; Sets SB-leds to z-calibration-mode
  {% endif %}
  QUAD_GANTRY_LEVEL horizontal_move_z=5 retries=3 retry_tolerance=0.500
  QUAD_GANTRY_LEVEL horizontal_move_z=3     
  G28 Z
  {% if printer['gcode_macro _MACRO_VARIABLES'].led_effect is true %}
    STATUS_READY
  {% endif %}

  
#####################################################################
# BED MESH PARAMETERS
#####################################################################
[bed_mesh]
speed: 180
horizontal_move_z: 2
mesh_min: 0, 0
mesh_max: 350, 350
probe_count: 21, 21
#mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2
adaptive_margin: 10
zero_reference_position: 177.5, 177.5


#####################################################################
# SKEW CORRECTION
#####################################################################
[skew_correction]

[skew_correction default_skew_profile]
xy_skew = 0.0
xz_skew = 0.0
yz_skew = 0.0

[gcode_macro SET_SKEW_PROFILE]
description: 
gcode:
  {% set SET = params.SKEW_SET|default(default_skew_profile) %}
  SET_SKEW XY="{SET}"

[gcode_macro SAVE_SKEW_PROFILE]
description: 
gcode:
  {% set SAVE = params.SKEW_SAVE|default(default_skew_profile) %}
  SKEW_PROFILE SAVE="{SAVE}"

[gcode_macro LOAD_SKEW_PROFILE]
description: 
gcode:
  {% set LOAD = params.SKEW_LOAD|default(default_skew_profile) %}
  SKEW_PROFILE LOAD="{LOAD}"

[gcode_macro REMOVE_SKEW_PROFILE]
description: 
gcode:
  {% set REMOVE = params.SKEW_REMOVE|default(default_skew_profile) %}
  SKEW_PROFILE REMOVE="{REMOVE}"

# [axis_twist_compensation]
# speed: 75               #   Speed of non homing moves  The default is 50.
# horizontal_move_z: 5
# calibrate_start_x: 22   #   Defines the minimum X coordinate for calibration
# calibrate_end_x: 338    #   Defines the maximum X coordinate.
# calibrate_y: 177.5      #   Defines the Y coordinate for calibration, recommended to be near the center of the bed.
# calibrate_start_y: 1    #   Defines the minimum Y coordinate for calibration
# calibrate_end_y: 310    #   Defines the maximum Y coordinate.
# calibrate_x: 177.5      #   Defines the X coordinate for calibration, recommended to be near the center of the bed.

# [gcode_macro AXIS_TWIST_COMPENSATION]
# description:
# gcode:

#   {% set AXIS = params.AXIS|default(X) %}
#   {% set COUNT = params.SAMPLE_COUNT|default(3) %}
#   {% if AXIS != Y %}
#     AXIS_TWIST_COMPENSATION_CALIBRATE SAMPLE_COUNT={COUNT}
#   {% else %}
#     AXIS_TWIST_COMPENSATION_CALIBRATE AXIS=Y SAMPLE_COUNT={COUNT}
#   {% endif %}


#####################################################################
# HEATER_BED
#####################################################################
[heater_bed]
#control = pid
#pid_kp = 43.328
#pid_ki = 1.992
#pid_kd = 235.597


#####################################################################
# EXTRUDER
#####################################################################
[extruder]
#control = pid
#pid_kp = 33.176
#pid_ki = 3.626
#pid_kd = 75.890
max_extrude_only_distance: 1000
max_extrude_cross_section: 50
max_extrude_only_velocity: 500
max_extrude_only_accel: 5000
instantaneous_corner_velocity: 1.0
pressure_advance: 0.028
pressure_advance_smooth_time: 0.04

[firmware_retraction_zhop]
retract_length: 1.2
retract_speed: 30
unretract_speed: 30
unretract_extra_length: 0.0
z_hop_height: 0.4
clear_zhop_on_z_moves: false

#####################################################################
# INPUT SHAPER
#####################################################################
[input_shaper]
#shaper_type_x = zv
#shaper_freq_x = 55.2
#shaper_type_y = zv
#shaper_freq_y = 39.4

[resonance_tester]
probe_points: 175, 175, 20
accel_chip: adxl345 cartographer
#max_smoothing:
#min_freq: 5
#max_freq: 133.33
#accel_per_hz: 75
#hz_per_sec: 1


#####################################################################
# CARTOGRAPHER PROBE
#####################################################################
[cartographer]
#z_backlash = 0.01038


#####################################################################
# SAVE CONFIG
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 86.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.2
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 41.229
#*# pid_ki = 1.909
#*# pid_kd = 222.637
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.278
#*# pid_ki = 3.022
#*# pid_kd = 80.936
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5654431134789975,2.0647134206183764,0.8067604595537397,0.2524041911494717,0.44551944620087225,0.73958125025609,-0.35636176409016507,-0.8043924833539888,0.3392528749554558,0.45020694284678997
#*# domain = 3.2261470031288725e-07,3.317265750484739e-07
#*# z_offset = 0.0
#*# reference_temperature = 22.5
#*# software_version = 1.3.3
#*# mcu_version = CARTOGRAPHER 5.1.0
#*#
#*# [cartographer]
#*# z_backlash = 0.01038
#*#
#*# [cartographer touch_model default]
#*# threshold = 1000
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.3.3
#*# mcu_version = CARTOGRAPHER 5.1.0
#*#
#*# [bed_mesh ADAPTIVE_SLICER_PRINT]
#*# version = 1
#*# points =
#*# 	-0.037945, -0.030077, -0.025900, -0.017902, -0.010256, -0.002304, 0.001496, 0.009250, 0.013364, 0.021080, 0.025018, 0.025018, 0.025018, 0.025018, 0.025018, 0.025018, 0.021413, 0.021080, 0.017145, 0.017145, 0.017145
#*# 	-0.045669, -0.037945, -0.029912, -0.024066, -0.018231, -0.010256, -0.002304, 0.001659, 0.009250, 0.011554, 0.015171, 0.017145, 0.017145, 0.017145, 0.017145, 0.017145, 0.015338, 0.013197, 0.011554, 0.013197, 0.009577
#*# 	-0.053748, -0.041966, -0.033921, -0.030243, -0.024066, -0.017902, -0.010256, -0.002304, 0.001659, 0.005625, 0.009250, 0.009577, 0.009577, 0.009250, 0.005625, 0.005625, 0.005625, 0.005290, 0.001659, 0.001659, 0.001659
#*# 	-0.061844, -0.053748, -0.045831, -0.038107, -0.033921, -0.025900, -0.021902, -0.012251, -0.002304, -0.002304, 0.001659, 0.005457, 0.005290, 0.001659, 0.001659, 0.001659, -0.002304, -0.002304, -0.002304, -0.002304, -0.006281
#*# 	-0.065909, -0.054074, -0.049701, -0.041966, -0.037945, -0.029912, -0.022232, -0.014245, -0.010256, -0.002304, 0.001659, 0.005290, 0.005625, 0.001496, 0.001659, 0.001332, 0.001659, -0.002304, -0.002304, -0.002304, -0.006281
#*# 	-0.061844, -0.054074, -0.045993, -0.041966, -0.033921, -0.029912, -0.021902, -0.013916, -0.006281, -0.002472, 0.001659, 0.001659, 0.005290, 0.001659, 0.001332, 0.001332, -0.002304, -0.002304, -0.002304, -0.002304, -0.002304
#*# 	-0.061844, -0.053748, -0.045993, -0.041966, -0.033921, -0.029912, -0.021902, -0.013916, -0.010256, -0.002304, 0.001659, 0.005290, 0.005457, 0.005625, 0.001659, 0.001659, 0.001496, -0.002304, -0.002472, -0.006281, -0.006281
#*# 	-0.065909, -0.057793, -0.049868, -0.045669, -0.037945, -0.033921, -0.024066, -0.014245, -0.008104, -0.006281, -0.000322, 0.005625, 0.005625, 0.009250, 0.005625, 0.005625, 0.001332, -0.004461, -0.006281, -0.006281, -0.010256
#*# 	-0.065909, -0.057960, -0.052055, -0.045993, -0.037945, -0.033921, -0.024066, -0.013916, -0.006281, -0.002640, 0.003475, 0.011223, 0.013197, 0.017145, 0.013197, 0.007437, 0.001659, 0.001659, -0.002304, -0.006281, -0.006281
#*# 	-0.074049, -0.066236, -0.062011, -0.053911, -0.049701, -0.041966, -0.030243, -0.022067, -0.017902, -0.012086, -0.002304, 0.013531, 0.017471, 0.017145, 0.007433, 0.001659, -0.004293, -0.006281, -0.014245, -0.014245, -0.014245
#*# 	-0.082204, -0.069972, -0.065909, -0.057793, -0.049701, -0.045993, -0.037945, -0.027906, -0.022232, -0.018067, -0.002304, 0.007601, -0.002640, 0.015338, 0.009250, 0.001659, -0.006281, -0.010256, -0.014245, -0.018231, -0.022232
#*# 	-0.086300, -0.078123, -0.074049, -0.062179, -0.057793, -0.049701, -0.037945, -0.033921, -0.026230, -0.026065, -0.006281, 0.001659, -0.002304, 0.005625, 0.001659, -0.006281, -0.014245, -0.020232, -0.024066, -0.025900, -0.029912
#*# 	-0.086300, -0.079999, -0.074049, -0.065909, -0.058128, -0.048014, -0.041966, -0.032082, -0.026230, -0.025900, -0.014245, -0.006281, -0.002472, -0.002304, -0.006281, -0.010256, -0.016073, -0.022232, -0.025900, -0.026230, -0.029912
#*# 	-0.086300, -0.078123, -0.070140, -0.062179, -0.055934, -0.045993, -0.037945, -0.029912, -0.025900, -0.021902, -0.018231, -0.014245, -0.013916, -0.010256, -0.014245, -0.014245, -0.018231, -0.022067, -0.025900, -0.029912, -0.029912
#*# 	-0.081875, -0.074049, -0.069972, -0.062011, -0.057793, -0.045993, -0.037945, -0.029912, -0.021902, -0.017902, -0.016073, -0.014245, -0.012251, -0.013916, -0.014245, -0.014245, -0.017902, -0.020067, -0.022232, -0.025900, -0.025900
#*# 	-0.078123, -0.074049, -0.066236, -0.057960, -0.049701, -0.045831, -0.037945, -0.026230, -0.021902, -0.017902, -0.014245, -0.014245, -0.012251, -0.014245, -0.014080, -0.014245, -0.018067, -0.019902, -0.022232, -0.022232, -0.025900
#*# 	-0.078123, -0.069972, -0.062179, -0.057793, -0.050035, -0.041966, -0.033921, -0.025900, -0.018231, -0.014245, -0.010256, -0.010256, -0.010256, -0.010256, -0.014245, -0.010256, -0.014245, -0.018231, -0.021902, -0.021902, -0.021902
#*# 	-0.069972, -0.065909, -0.057793, -0.053748, -0.045993, -0.037945, -0.029912, -0.022232, -0.014245, -0.010092, -0.006281, -0.006281, -0.006281, -0.006610, -0.006281, -0.010256, -0.014245, -0.018231, -0.018231, -0.020067, -0.018231
#*# 	-0.065909, -0.057793, -0.054074, -0.045993, -0.041966, -0.033921, -0.025900, -0.017902, -0.014080, -0.006281, -0.002640, -0.004293, -0.002304, -0.004293, -0.006281, -0.006281, -0.009927, -0.014080, -0.014245, -0.017902, -0.014245
#*# 	-0.061844, -0.053748, -0.045993, -0.041966, -0.037945, -0.025900, -0.021902, -0.014245, -0.009927, -0.002304, 0.001332, 0.001496, 0.001659, -0.002304, -0.002304, -0.006281, -0.006281, -0.010256, -0.014245, -0.018231, -0.014245
#*# 	-0.058128, -0.049701, -0.045993, -0.041966, -0.036099, -0.029912, -0.018231, -0.014245, -0.010256, -0.004293, -0.002304, 0.001332, 0.001659, -0.002304, -0.002472, -0.002304, -0.006281, -0.010256, -0.014245, -0.017902, -0.017902
#*# min_x = 122.99
#*# min_y = 122.99
#*# max_x = 227.01
#*# max_y = 226.78
#*# x_count = 21
#*# y_count = 21
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
