#################################################################
# PARK TOOLHEAD
#################################################################

[gcode_macro PARK_TOOLHEAD]
description: Park the toolhead

variable_wipe_nozzle: False

gcode:
  {% set mvar = printer["gcode_macro _MACRO_VARIABLES"] %}
  {% if printer.toolhead.homed_axes != 'xyz' %}
    HOMEING_PROMPT_PARK
  {% endif %}
  
  SAVE_GCODE_STATE NAME=_PARK_TOOLHEAD

  G90 ; Set Motion System to Absolute Positioning
  {% if mvar.park_toolhead_position == "BUCKET" or "BLOBIFIER" and wipe_nozzle is false %}
    {% if mvar.park_toolhead_position == "BLOBIFIER" %}
      BLOBIFIER_PARK
    {% else %}
      {% if mvar.park_toolhead_position == "BUCKET" %}
        {% set park_x = mvar.bucket_start_x + (mvar.wiper_x / 2) %}
        {% set park_y = printer.toolhead.axis_maximum.y if mvar.wiper_y_max is true else printer.toolhead.axis_minimum.y %}
        {% if printer.idle_timeout.state|string  != "Printing" or printer.pause_resume.is_paused %}
          {% set park_z = mvar.wiper_top if printer.gcode_move.gcode_position.y == printer.toolhead.axis_maximum.y or mvar.park_y if mvar.wiper_y_max is false else mvar.clearance_z %}
        {% else %}
          {% set park_z = mvar.clearance_z if printer.gcode_move.gcode_position.z < mvar.clearance_z else printer.gcode_move.gcode_position.z + mvar.clearance_z if printer.gcode_move.gcode_position.z + mvar.clearance_z < printer.toolhead.axis_maximum.z - mvar.clearance_z else printer.toolhead.axis_maximum.z %}
        {% endif %}
        G1 Z{park_z} F{mvar.travel_spd_z}
        {% if mvar.wiper_y_max is true %}
          G1 X{park_x} Y{park_y - 10} F{mvar.travel_spd_xy}
        {% else %}
          G1 X{park_x} Y{park_y + 10} F{mvar.travel_spd_xy}
        {% endif %}
        # Slow down before reaching location
        G1 Y{park_y} F{mvar.travel_spd_xy * 0.1}
      {% endif %}
    {% endif %}
  {% elif wipe_nozzle is true %}
    {% set park_x = mvar.wiper_x - (mvar.wipe_travel + 5) %}
    {% set park_y = printer.toolhead.axis_maximum.y if mvar.wiper_y_max is true else mvar.wiper_y %}
    G91
    G1 Z+1
    G90
    G1 X{park_x} Y{park_y} F{mvar.travel_spd_xy}
  {% else %}
    {% set park_x = mvar.park_x %}
    {% set park_y = mvar.park_y %}
    {% set park_z = mvar.park_z if printer.gcode_move.gcode_position.z < mvar.park_z else printer.gcode_move.gcode_position.z + mvar.clearance_z 
      if printer.gcode_move.gcode_position.z + mvar.clearance_z < printer.toolhead.axis_maximum.z - mvar.clearance_z else printer.toolhead.axis_maximum.z %}
  
    G1 Z{park_z} F{mvar.travel_spd_z}
    {% if mvar.wiper_y_max is true %}
      G1 X{park_x} Y{park_y - 10} F{mvar.travel_spd_xy}
    {% else %}
      G1 X{park_x} Y{park_y + 10} F{mvar.travel_spd_xy}
    {% endif %}
    # Slow down before reaching location
    G1 Y{park_y} F{mvar.travel_spd_xy * 0.1}
  {% endif %}
  RESTORE_GCODE_STATE NAME=_PARK_TOOLHEAD MOVE=0


###########################################################################################################################################
# Prompts
###########################################################################################################################################

[gcode_macro HOMEING_PROMPT_PARK]
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Axes Homing Error"
  RESPOND TYPE=command MSG="action:prompt_text Attention: Printer axes are not homed. Would you like to home axes?"
  RESPOND TYPE=command MSG="action:prompt_footer_button Home_Axes|HOME_PARK"
  RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|RESPOND TYPE=command MSG="action:prompt_end""
  RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro HOME_PARK]
gcode:
  RESPOND TYPE=command MSG="action:prompt_end"
  STATUS_HOMING   ; Sets SB-leds to homing-mode
  G28
  M400
  STATUS_READY
  PARK_TOOLHEAD
